NODE_ENV=development
PORT=3001

# PostgreSQL
DATABASE_URL=postgres://user:password@localhost:5432/enterprise_db
DB_HOST=localhost
DB_PORT=5432
DB_NAME=enterprise_db
DB_USER=postgres
DB_PASSWORD=NzJYIZ2zGpMjVfVcCtmrIuSp3mI6ex0k

# Security
JWT_SECRET=44a826db4e8ac949df06f3cf6df3adb797c78daa54b717b1296129b61d8946c9

# Rate limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
